node_modules/
dist/
.astro/

.toolchains/
.vendor/
.env.local

public/wasm/*
!public/wasm/.gitkeep
public/vscode/language-configuration.json
public/vscode/syntaxes/*.tmLanguage.json
!public/vscode/syntaxes/.gitkeep

*.log
*.tsbuildinfo

target/
