---
import VizslaLab from "../components/VizslaLab.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>Vizsla Lab</title>
  </head>
  <body>
    <VizslaLab scenario="counter" />
  </body>
</html>
